//color vars
$bg-black: #080e13;
$bg-white: linear-gradient(180deg, #FFFFFF 0%, #E8E8E8 100%);
$bg-gray: #23252b;
$table-bg-gray: #424348;
$gold-accent: #f5ad22;
$accent-gold-gradient: linear-gradient(0deg, #e58e0b 0%, #ffce50 100%);
$accent-stroke-gold-gradient: linear-gradient(180deg, #ffdb58 0%, #edba02 100%);
$secondary-button-bg: rgba(8, 14, 19, 0.5);
$separator: #313440;
$white:#fff;
$gray-text: #b0b7c0;
$red-validation: #ff1e1e;
$red-secondary: #9c202d;
$green: #00fc77;
$green-secondary: #28995d;

$text-accent-blue: #1f9dcd;
$accent-blue-gradient: linear-gradient(0deg, #248DB6 0%, #7dd9ff 100%);
$text-blue-stroke: linear-gradient(0deg, #7AD7FC 0%, #2991BA 100%);
$gray-bg: #f2f2f2;
$element-button-bg: #f0bf0e;
$element-button-stroke: #e6900d;
$gray-bg-secondary: #23252a;
$gray-icon: #5e6471;
$table-bg-black: #23252a;
$text-dark: #343434;
//font vars
$font-family: "Noto Sans", sans-serif;
$second-family: "Inter", sans-serif;

$h1: normal 600 22px/120% "Noto Sans", sans-serif;
$h2: normal 600 18px/120% "Noto Sans", sans-serif;
$h3: normal 700 22px/120% "Inter", sans-serif;
$h4-regular: normal 400 15px/120% "Noto Sans", sans-serif;
$h4-medium: normal 500 15px/120% "Noto Sans", sans-serif;
$h5-regular: normal 400 14px/120% "Noto Sans", sans-serif;
$h5-medium: normal 500 14px/120% "Noto Sans", sans-serif;
$h5-bold: normal 700 14px/120% "Noto Sans", sans-serif;
$h6-regular: normal 400 13px/120% "Noto Sans", sans-serif;
$h6-medium: normal 500 13px/120% "Noto Sans", sans-serif;
$h7-regular: normal 400 12px/140% "Noto Sans", sans-serif;
$h8: normal 400 11px/140% "Noto Sans", sans-serif;

